Strings have a whole lot of methods for use when you're manipulating text.

In [1]:
sentence = ("When one is confronted with a computational problem involving a certain "
            "mathematical object X, it is sometimes possible to transform X to another "
            "object and to solve a (related) computational problem on the newly "
            "transformed object.")

name = "Peyton"

In [2]:
sentence.lower()

'when one is confronted with a computational problem involving a certain mathematical object x, it is sometimes possible to transform x to another object and to solve a (related) computational problem on the newly transformed object.'

In [3]:
sentence.upper()

'WHEN ONE IS CONFRONTED WITH A COMPUTATIONAL PROBLEM INVOLVING A CERTAIN MATHEMATICAL OBJECT X, IT IS SOMETIMES POSSIBLE TO TRANSFORM X TO ANOTHER OBJECT AND TO SOLVE A (RELATED) COMPUTATIONAL PROBLEM ON THE NEWLY TRANSFORMED OBJECT.'

In [4]:
sentence.title()

'When One Is Confronted With A Computational Problem Involving A Certain Mathematical Object X, It Is Sometimes Possible To Transform X To Another Object And To Solve A (Related) Computational Problem On The Newly Transformed Object.'

In [7]:
sentence.split(", ")

['When one is confronted with a computational problem involving a certain mathematical object X',
 'it is sometimes possible to transform X to another object and to solve a (related) computational problem on the newly transformed object.']

In [8]:
sentence.replace("computational problem", "algorithmic exercise")

'When one is confronted with a algorithmic exercise involving a certain mathematical object X, it is sometimes possible to transform X to another object and to solve a (related) algorithmic exercise on the newly transformed object.'

In [9]:
name.ljust(20)

'Peyton              '

In [10]:
name.rjust(20)

'              Peyton'

In [11]:
name.center(20)

'       Peyton       '

In [12]:
sentence.count("X")

2

In [13]:
"hello".isalpha()

True

In [14]:
"256".isdigit()

True

In [15]:
"256".isnumeric()

True

In [18]:
"4.0".isdigit()

False

In [19]:
"4.0".isnumeric()

False

## .format()

`.format()` is an incredibly useful method for _interpolating_ values into text.

In [22]:
first_name = "Keelan"
last_name = "Aho"

In [23]:
"{}, {}".format(last_name, first_name)

'Aho, Keelan'

In [24]:
"{1}, {0}".format(first_name, last_name)

'Aho, Keelan'

In [25]:
"{0} {1}'s last name is {1}. Their first name is {0}.".format(first_name, last_name)

"Keelan Aho's last name is Aho. Their first name is Keelan."

In [26]:
"""{last}, {first}""".format(first=first_name, last=last_name)

'Aho, Keelan'

[pyformat](http://pyformat.info/) is a great place to see more examples of how `format` works.